<div class="wrapper">

   <div class="link-content">
      <!-- card -->

      <a aria-label="Kristo on facebook" target="_blank" rel="noopener" href = "https://www.facebook.com/kristofermarg" id = "fb-link" title = "Facebook">
        <div class = "card">
            <div class="icon">
              <img src="https://res.cloudinary.com/dvgxfctbd/image/upload/v1570804988/facebook-2.svg" height = "40px;">
            </div>

            <p class="title">Facebook</p>
            <p class="text">Click here to view my facebook profile.</p>
        </div>
      </a>
      <!-- end card -->

      <!-- card -->
      <a aria-label="Kristo on gmail" target="_blank" rel="noopener" href = "mailto: kristofermargislason@gmail.com" id = "gmail-link" title="Gmail">
          <div class="card" id = "card--2">
            <div class="icon">
              <img src="https://res.cloudinary.com/dvgxfctbd/image/upload/v1570805049/gmail-icon.svg" height = "30px;">
            </div>
            <p class="title">Gmail</p>
            <p class="text">Click here to view my gmail account.</p>

          </div>
      </a>
      <!-- end card -->

      <!-- card -->
      <a aria-label="Kristo on github" target="_blank" rel="noopener" href="https://github.com/kmg14" id = "github-link" title="Github">
          <div class="card">
            <div class="icon">
              <img src="https://res.cloudinary.com/dvgxfctbd/image/upload/v1571060879/github-logo.svg" height = "35px;">
            </div>
            <p class="title">Github</p>
            <p class="text">Click here to view my github profile.</p>

          </div>
      </a>
      <!-- end card -->


   </div>
</div>


