<a href="https://vef2-lokaverkefni.herokuapp.com/">
  <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-horizontal">
                    <img class="" src="https://res.cloudinary.com/dvgxfctbd/image/upload/v1573426280/Capture.jpg">

                    <div class="card-body">
                        <h1> {{ 'project_link' | translate }}</h1>
                        <p class="card-text">{{ 'project_desc' | translate }}</p>
                    </div>
                </div>

                <div class="card-footer">
                    <small class="text-muted">Last updated 10/12/2019</small>
                </div>

            </div>
        </div>
    </div>
 </div>
</a>

