<!-- Navigation Bar -->
<app-navbar></app-navbar>

<!-- Change Language -->
<button class="button__lang" (click) = "Click();">
  <img src = '{{imageSrc}}' >
</button>


<!-- Main Content -->
<div class="content" role="main">

  <!-- Profile -->
  <app-profile></app-profile>

  <!-- About me -->
  <app-textfield></app-textfield>

  <!-- Image Scroll Break-->
  <hr>

  <!-- Former Projects -->
  <app-projects></app-projects>

  <!-- Graph -->
  <app-graph></app-graph>

  <!-- Links -->
  <app-links></app-links>

</div>
