
<div class = "space"></div>

<div class="profile-card">
  <div class="meta">
    <div class="photo" style="background-image: url(https://res.cloudinary.com/dvgxfctbd/image/upload/v1570717823/CV.jpg)"></div>
    <ul class="details">
      <li class="author">Kristó</li>
      <li class="date">Nóvember 2019</li>
    </ul>
  </div>
  <div class="description">
    <h1 translate id = "name"> Title </h1>
    <h2> {{ 'education' | translate }}</h2>
    <div class ="list">
      <ol>
        <li><p> {{ 'School_1' | translate }} </p> </li>
        <li><p> {{ 'School_2' | translate }} </p></li>
      </ol>
  </div>
</div>

