
#graph {
  transition-duration: 400ms;
  height: 25em;
  margin-top: 5em;
  min-width: 50%;
  width: 60em;
}

canvas {
  margin-top: 5vh;
}

#graph--hide {
  display: none;
}

h1 {
  font-style: italic;
}

#grades {
  display: none;
}

#grades--show {
  display: block;
}

/* Button View */
.btn-glass {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 0.75em 2em;
  font-family: Lato;
  font-weight: 300;
  border: 1px dotted transparent;
  letter-spacing: 0.98pt;
  text-transform: uppercase;
  transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  position: relative;
  background-attachment: fixed, scroll;
  background-position: center center, 0 0;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
}
.btn-glass:hover {
  background-position: -100vw 0, 0 0;
}
.btn-glass:active {
  background-position: -75vw 0, 0 0;
  border-style: solid;
}
.nav-dark {
  background-color: #444444;
}
.nav-dark .btn-glass {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(17, 17, 17, 0);
}

.nav-dark .btn-glass:active {
  position: relative;
  z-index: 1;
}

.nav-dark .btn-glass.btn-info {
  color: rgba(255, 255, 255, 0.7);
}
.nav-dark:hover {
  border-color: #2ed5e4;
  background-color: var(--main-color);
}
.nav-dark .btn-glass.btn-info:active {
  position: relative;
  z-index: 1;
}

#list ol {
  font-style:italic;
  font-family:Georgia, Times, serif;
  font-size:2em;
  color:#0d95d4;
}
#list ol li p {
   padding: 0.75em;
   font-style: normal;
   font-family: Arial;
   font-size: 0.75em;
   font-weight: 200;
   border-left: 1px solid #999;
  }

#list ol li:hover {
  color : var(--main-color);
  border-right: 1px solid darkgray;
}

button {
  position: relative;
  float: right;
  margin-left: 1em;
  font-size: 0.5em;
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {

  h1 {
    font-size: 2em;
    font-weight: 200;
  }

  #graph {
    display: none;
  }

  #grades {
    display: block;
    font-size: 0.75em;
  }

  button {
    display: none;
  }

}

