.text {
  align-self: center;
  margin-top: 4em;
  margin-bottom:2em;
  transition-duration: 200ms;
  background: var(--background-text);
  width: var(--maxWidth);
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;

  transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 100ms;
  position: relative;
  background-attachment: fixed, scroll;
  background-position: center center, 0 0;

}

.text p {
  margin: 1em;
  font-size: 1.15em;
  line-height: 2em;
  font-weight: 200;
}

h1 {
   font-weight: 200;
   font-style: bold;
}

.text:hover {
  transition-duration: 200ms;
  top: -2px;
  box-shadow: 0 9px 10px rgba(0,0,0,0.2);
}

.list ol {
  font-style:italic;
  font-family:Georgia, Times, serif;
  font-size:2em;
  color:#0d95d4;
}
.list ol li p {
   padding:1em;
   font-style:normal;
   font-family:Arial;
   font-size: 0.5em;
   color:rgb(77, 65, 65);
   border-left: 1px solid #999;
  }

.list ol li p em {
  display:block;
  font-size: 1.5em;
}

.list ol li:hover {
  color : black;
  border-right: 1px solid darkgray;
}

.TextContent {
  margin-left: 1em;
  margin-bottom: 50vh;
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {
  .text, .list {
    transition-duration: 400ms;
    width: 40em;
    max-width:40em;
  }

  .list {
    font-size: 0.75em;
    width: 35em;

  }

}


@media screen and (max-width: 750px) {

  .text {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 22rem;
    height: 30rem;
  }

  .TextContent {
    margin-left: 1em;
    margin-bottom: 10vh;
  }


}
